* {
    /* margin: 0;
    padding: 0; */
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

body {}

/* ...............    Home       .................................... */
.home_section {
    width: 100%;
    height: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;

}

nav {
    display: flex;
    justify-content: right;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 1001;
    align-items: center;
}

.nav_brand {
    flex: 1;
    display: flex;
    justify-content: left;
    margin-left: 30px;
}

.nav_brand img {
    border-radius: 50%;
    margin-left: 20px;
}

.nav_link {
    flex: 2;
    display: flex;
    justify-content: right;
    gap: 30px;
    margin-right: 100px;
}

.nav_link a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

samp {
    color: #00d0ff;
}

.home_inner {
    width: 85%;
    height: 510px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 15px #00d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F242D;
}

.photo img {
    width: 250px;
    height: 250px;
    border: 10px solid #00d0ff;
    border-radius: 50%;
}

.Title {
    display: flex;
    justify-content: center;

}

.Hi {
    display: flex;
    margin-left: 18%;
    justify-content: left;
}

.Hi h4 {
    font-size: 70px;
    font-weight: 100px;
    color: #00d0ff;
}

.Title h1 {
    font-size: 100px;
    font-weight: 50px;
    color: #FFFFFF;

}

.cretive_developer {
    color: #FFFFFF;
    margin-left: 130px;
    font-weight: 600;
}

.home_buttons {
    margin-left: 17%;
}

.home_buttons button {
    margin-right: 10px;
}

.menubar {
    border: none;
    display: none;
}

@media screen and (max-width:768px) {
    .menubar {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
    }

    nav {
        display: none;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
        align-items: center;

    }

    .modal-body a {
        display: block;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: blue;

    }

    .home_section {
        padding: 20px;
    }

    .home_inner {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .Title {
        font-size: 40px;
    }

    .photo {
        width: 80%;
        height: auto;
        margin: 20px;
    }

}

/* ................ About section........... */
.About_section {
    width: 100%;
    height: 1048PX;
    display: flex;
    justify-content: left;
    margin-top: 70px;
    margin-left: 0px;
}

.about_heading {
    width: 450px;
    height: 390px;
    margin-top: 200px;
    margin-left: 50px;
    border: 2px solid #00d0ff;
    border-radius: 10px;
    color: #FFFFFF;
}

.about_heading h2 {
    width: 450px;
    height: auto;
    font-size: 300;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
}

.about_heading p {
    width: 380px;
    height: 300px;
    margin-left: 40px;
    margin-top: 30;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* ..................skills............... */
.Skills_section {
    width: 100%;
    height: 1048PX;
    display: flex;
    justify-content: left;
    margin-top: 70px;
    margin-left: 0px;

}

.skills_heading {

    width: 450px;
    height: 390px;
    margin-top: 200px;
    margin-left: 50px;
    border: 2px solid #00d0ff;
    border-radius: 10px;
    color: #FFFFFF;

}

.skills_heading h2 {

    width: 450px;
    height: auto;
    font-size: 300;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;

}

.skills_heading p {
    width: 380px;
    height: 300px;
    margin-left: 40px;
    margin-top: 30;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* .............project............ */
.Project_section {
    width: 100%;
    height: 1048PX;
    display: flex;
    justify-content: left;
    margin-top: 70px;
    margin-left: 0px;
}

.Project_heading {
    width: 450px;
    height: 390px;
    margin-top: 200px;
    margin-left: 50px;
    border: 2px solid #00d0ff;
    border-radius: 10px;
    color: #FFFFFF;

}

.Project_heading h2 {
    width: 450px;
    height: auto;
    font-size: 300;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
}

.Project_heading p {
    width: 380px;
    height: 300px;
    margin-left: 40px;
    margin-top: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ........................ contact..................... */
.Contact_section {
    width: 100%;
    height: 1048PX;
    display: flex;
    justify-content: left;
    margin-top: 70px;
    margin-left: 0px;

}

.Contact_heading {
    width: 450px;
    height: 390px;
    margin-top: 200px;
    margin-left: 50px;
    border: 2px solid #00d0ff;
    border-radius: 10px;
    color: #FFFFFF;


}

.Contact_heading h2 {
    width: 450px;
    height: auto;
    font-size: 300;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 0px;
}

.Contact_heading p {
    width: 380px;
    height: 300px;
    margin-left: 40px;
    margin-top: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}